<!-- [ngClass] hoặc [Class] -->

<p
  class="text-center"
  [ngClass]="{ 'bg-primary': isActive, 'bg-info': !isActive }"
>
  Hello Hulle
</p>

<button (click)="isActive = !isActive">Toggle</button>

<!-- ngStyle -->
<p style="text-align: center" [style]="{ 'background-color': color }">
  Demo style
</p>

<div
  style="width: 100%; height: 300px; background-size: contain"
  [style]="{ 'background-image': 'url(' + img + ')' }"
></div>

<!-- ngNonBindable -->

<!-- [innerHTML] xử lý in chuỗi HTML ra giao diện -->

<p [innerHTML]="result"></p>
