<!-- * sử dụng directives [ngIf]: ẩn hiện component -->
<p *ngIf="isActive">Hello angular</p>

<button (click)="isActive = !isActive">Bật</button>
<br />

<!-- View khi logined -->
<div *ngIf="isLogin; else loginTemplate">
  <p>Hello Long</p>
  <button (click)="isLogin = false">Đăng xuất</button>
</div>

<!-- View khi chưa login -->
<div *ngIf="!isLogin">
  <button (click)="isLogin = true">Đăng nhập</button>
</div>

<!-- TODO: ng-template: component do angular định nghĩa sẵn mặc định nội dung bên trong ng-template sẽ không được render ra giao diện, nó sẽ chỉ được render ra khi mình gọi tới -->

<!-- #: là kí hiệu tham chiếu -->
<ng-template #loginTemplate>
  <div>
    <button (click)="isLogin = true">Đăng nhập</button>
  </div>
</ng-template>

<!-- * ngSwitch: dùng để ẩn hiện component hoặc view, với nhiều điều kiện hơn -->

<div [ngSwitch]="color">
  <p *ngSwitchCase="'primary'" class="bg-primary">Primary</p>

  <p *ngSwitchCase="'secondary'" class="bg-secondary">Secondary</p>

  <p *ngSwitchCase="'danger'" class="bg-danger">Danger</p>

  <p *ngSwitchCase="'warning'" class="bg-warning">Warning</p>

  <p *ngSwitchDefault>Default</p>
</div>

<select [(ngModel)]="color">
  <option value="">Default</option>
  <option value="primary">Primary</option>
  <option value="secondary">Secondary</option>
  <option value="danger">Danger</option>
  <option value="warning">Warning</option>
</select>

<!-- *ngFor: duyệt mảng -->
<!-- Không thể để 2 tructural directives trên cùng 1 thẻ ==> phải tách nó ra  -->
<div class="container">
  <p *ngFor="let sv of dsSinhVien; let i = index; count as total">
    {{ i + 1 }}/{{ total }}============{{ sv.hoTen }} - {{ sv.lop }}
  </p>
</div>

<!-- *ng-container: thẻ này sẽ không được render ra giao diện -->
<ng-container *ngIf="dsSinhVien">
  <p *ngFor="let sv of dsSinhVien">{{ sv.hoTen }} - {{ sv.lop }}</p>
</ng-container>

<!-- *ngTemplateOutlet: Kết hợp giữa ng-template và ng-container để tái sử dụng giao diện -->

<ng-template #errorTemplate>
  <div class="alert alert-danger" role="alert">
    <strong>Something went wrong</strong>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
<ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
<ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
