<!-- <h1 class="title">Hello world</h1>

<app-demo></app-demo> -->
<!-- ? Bài 1 -->

<!-- <div class="text-center text-white bg-danger">
    <app-header></app-header>


    <div class="row">
        <div class="col-8 text-white bg-warning">
            <app-content></app-content>
        </div>
        <div class="col-4 text-white bg-success">
            <app-sidebar></app-sidebar>
        </div>

    </div>
</div>

<div class="text-center text-white bg-info">
    <app-footer></app-footer>
</div> -->

<!-- ? Bài 2 -->
<!-- <app-baitap2></app-baitap2> -->


<!-- ? Bài components - button -->

<!-- <app-button>Submit</app-button>


<app-card>
    <p slot="header" class="header">Sinh viên</p>
    <div slot="body" class="body">
        <p>Nguyễn Văn Tèo</p>
        <p>FE54F</p>
    </div>

    <button slot="footer" class="btn btn-success">Xem chi tiết</button>
</app-card>

<app-card>

    <p slot="header" class="header">Profile</p>
    <div slot="body" class="body">
        <p>Nguyễn Văn Tèo</p>
        <p>FE54F</p>
    </div>

    <button slot="footer" class="btn btn-success">Xem chi tiết</button>
</app-card> -->

<!-- ?Directives  -->
<div appHighlight>
    Highlight
</div>
